<form nz-form class="user-list-search-form">
    <div nz-row>
        <div nz-col nzXl="8" nzXXl="6">
            <nz-form-item class="ant-form-item">
                <nz-form-control>
                    <button nz-button nzType="primary" nzSize="small" (click)="showUserFormDialog()">
                        <span nz-icon nzType="plus" nzTheme="outline"></span>
                        创建用户
                    </button>
                    <button nz-button nzType="primary" nzDanger nzSize="small" [disabled]="setOfCheckedId.size == 0"
                            (click)="showDeleteConfirm()"
                    >
                        <span nz-icon nzType="delete" nzTheme="outline"></span>
                        删除用户
                    </button>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col nzXl="6" nzXXl="6">
            <nz-form-item class="ant-form-item">
                <nz-form-label [nzFor]="'username'">用户名</nz-form-label>
                <nz-form-control>
                    <input nz-input [attr.id]="'username'" [(ngModel)]="username"
                           [ngModelOptions]="{standalone: true}" nzSize="small"/>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col nzXl="6" nzXXl="6">
            <nz-form-item class="ant-form-item">
                <nz-form-label>角色</nz-form-label>
                <nz-form-control>
                    <nz-select [(ngModel)]="this.roleCode" [ngModelOptions]="{standalone: true}" nzSize="small"
                               [nzPlaceHolder]="'请选择角色'"
                    >
                        @for (role of this.roles; track role.roleCode) {
                            <nz-option [id]="role.roleId" [nzLabel]="role.roleName"
                                       [nzValue]="role.roleCode"></nz-option>
                        }
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col nzXl="6" nzXXl="6">
            <nz-form-item class="ant-form-item">
                <nz-form-label [nzFor]="'nickname'">昵称</nz-form-label>
                <nz-form-control>
                    <input nz-input [attr.id]="'nickname'" [(ngModel)]="nickname"
                           [ngModelOptions]="{standalone: true}" nzSize="small"/>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzXl="4" nzXXl="6">
            <nz-form-item class="ant-form-item">
                <nz-form-control>
                    <button nz-button [nzType]="'primary'" nzSize="small" (click)="search()">
                        <span nz-icon nzType="search" nzTheme="outline"></span>查询
                    </button>
                    <button nz-button nzSize="small" (click)="resetForm()">
                        <span nz-icon nzType="reload" nzTheme="outline"></span>重置
                    </button>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
</form>

<!-- START 表格 -->
<div class="search-result-list">
    <nz-table
        nzShowSizeChanger
        [nzData]="listOfUser"
        [nzFrontPagination]="false"
        [nzLoading]="loading"
        [nzTotal]="total"
        [nzPageSize]="pageSize"
        nzSize="small"
        (nzQueryParams)="onQueryParamsChange($event)"
    >
        <thead>
        <tr>
            @for (col of cols; track col.field) {
                @if (col.field == 'id') {
                    <th [nzChecked]="checked"
                        (nzCheckedChange)="onAllChecked($event)"
                        [nzIndeterminate]="indeterminate"
                    >
                    </th>
                } @else {
                    @if (col.sortable == true) {
                        <th [nzColumnKey]="col.field" [nzSortFn]="col.sortable">{{ col.header }}</th>
                    }
<!--                    @else if (col.field == 'operation'){-->
<!--                        <th>{{ col.header }}</th>-->
<!--                    } -->

                    @else {
                        <th>{{ col.header }}</th>
                    }
                }
            }
        </tr>
        </thead>
        <tbody>
            @for (data of listOfUser; track data.id) {
                <tr>
                    <td [nzChecked]="setOfCheckedId.has(data.id)"
                        (nzCheckedChange)="onItemChecked(data.id, $event)"
                    >
                    </td>
                    <td>{{ data.avatar }}</td>
                    <td>{{ data.username }}</td>
                    <td>{{ data.realName }}</td>
                    <td>{{ data.nickname }}</td>
                    <td>{{ data.roleName }}</td>
                    <td>{{ data.phone }}</td>
                    <td>{{ data.email }}</td>
                    <td>{{ data.accountNonExpired?.label }}</td>
                    <td>{{ data.accountNonLocked?.label }}</td>
                    <td>{{ data.credentialsNonExpired?.label }}</td>
                    <td>{{ data.enabled?.label }}</td>
                    <td>{{ data.gender?.label }}</td>
                    <td>{{ data.position }}</td>
                    <td>{{ data.remark }}</td>
                    <td>{{ data.createdTime }}</td>
                    <td>{{ data.lastUpdatedTime }}</td>
                    <td>
                        <button nz-button [nzType]="'primary'" nzSize="small"
                                nzShape="circle"
                                nz-tooltip nzTooltipTitle="编辑" nzTooltipPlacement="top"
                                (click)="showUserFormDialog(data.id)"
                        >
                            <span nz-icon nzType="edit" nzTheme="outline"></span>
                        </button>

                        <button nz-button nzSize="small"
                                nzShape="circle"
                                nz-tooltip nzTooltipTitle="重置密码" nzTooltipPlacement="top"
                                (click)="resetPasswordDialog(data.id, data.username)"
                        >
                            <nz-icon nzType="key" nzTheme="outline" />
                        </button>

                        <button nz-button [nzType]="'primary'" nzSize="small"
                                nzShape="circle" nzDanger
                                nz-tooltip nzTooltipTitle="删除用户" nzTooltipPlacement="top"
                                nz-popconfirm
                                [nzPopconfirmTitle]="'你确定要删除用户「' + data.username + '」吗？'"
                                (click)="userIdToDelete = data.id"
                                [nzBeforeConfirm]="beforeConfirm"
                                nzPopconfirmPlacement="top"
                                [nzCancelButtonProps]="{nzDisabled: cancelButtonDisabled}"
                        >
                            <span nz-icon nzType="delete" nzTheme="outline"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </nz-table>
</div>
<!-- END 表格 -->

<!-- START 新增、编辑用户表单 -->
@if (userFormDialogDisplay) {
    <app-user-edit-form [(userFormDialogDisplay)]="userFormDialogDisplay" [userId]="userId" [formTitle]="formTitle"
                        (triggerUserListRefreshEmitter)="search()"
    >

    </app-user-edit-form>
}

<!-- END 新增、编辑用户表单 -->

<!-- START 重置密码表单 -->
@if (resetPasswordDialogDisplay) {
    <app-reset-password [(formDialogDisplay)]="resetPasswordDialogDisplay"
                        (triggerUserListRefreshEmitter)="search()"
                        [userId]="userId!"
                        [username]="usernameToResetPassword"
    >

    </app-reset-password>
}
<!-- END 重置密码表单 -->
