<nz-modal [(nzVisible)]="formDialogDisplay"
          nzTitle="修改密码"
          [nzMask]="true"
          [nzMaskClosable]="false"
          (nzOnCancel)="closeDialog()"
          (nzOnOk)="onConfirmClick()"
          [nzOkLoading]="isOkLoading"
          [nzCancelDisabled]="isCancelDisabled"
          [nzClosable]="!isCancelDisabled"
>
    <ng-container *nzModalContent>
        <form nz-form [formGroup]="modifyPasswordForm" novalidate>

            <!-- 旧密码 -->
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="oldPassword">旧密码</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback [nzErrorTip]="oldPwdErrTpl">
                    <nz-input-password>
                        <input nz-input placeholder="请输入旧密码" formControlName="oldPassword" id="oldPassword" nzSize="small"/>
                    </nz-input-password>
                    <ng-template #oldPwdErrTpl>
                        @if (oldPasswordFormControl.dirty && oldPasswordFormControl.errors?.['required']) {
                            请填写旧密码
                        }
                        @if (oldPasswordFormControl.errors?.['msg']) {
                            {{ oldPasswordFormControl.errors?.['msg'] }}
                        }
                    </ng-template>
                </nz-form-control>
            </nz-form-item>

            <!-- 新密码 -->
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="newPassword">新密码</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback [nzErrorTip]="newPwdErrTpl">
                    <nz-input-password>
                        <input nz-input placeholder="请输入新密码" formControlName="newPassword" id="newPassword" nzSize="small"/>
                    </nz-input-password>
                    <ng-template #newPwdErrTpl>
                        @if (newPasswordFormControl.dirty && newPasswordFormControl.errors?.['required']) {
                            请填写新密码
                        }
                        @if (newPasswordFormControl.errors?.['msg']) {
                            {{ newPasswordFormControl.errors?.['msg'] }}
                        }
                    </ng-template>
                </nz-form-control>
            </nz-form-item>

            <!-- 确认密码 -->
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="confirmPassword">确认密码</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback [nzErrorTip]="confirmPwdErrTpl">
                    <nz-input-password>
                        <input nz-input placeholder="请输入确认密码" formControlName="confirmPassword" id="confirmPassword" nzSize="small"/>
                    </nz-input-password>
                    <ng-template #confirmPwdErrTpl>
                        @if (confirmPasswordFormControl.dirty && confirmPasswordFormControl.errors?.['required']) {
                            请填写确认密码
                        }
                        @if (confirmPasswordFormControl.errors?.['msg']) {
                            {{ confirmPasswordFormControl.errors?.['msg'] }}
                        }
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-container>
</nz-modal>
