<nz-modal [(nzVisible)]="formDialogDisplay"
          nzTitle="修改密码"
          [nzMask]="true"
          [nzMaskClosable]="false"
          (nzOnCancel)="closeDialog()"
          (nzOnOk)="onConfirmClick()"
          [nzOkLoading]="isOkLoading"
          [nzCancelDisabled]="isCancelDisabled"
          [nzClosable]="!isCancelDisabled"
>
    <ng-container *nzModalContent>
        <form nz-form [formGroup]="modifyPasswordForm" novalidate>

            <!-- 旧密码 -->
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="oldPassword">旧密码</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback [nzErrorTip]="oldPwdErrTpl">
                    <nz-input-group [nzSuffix]="oldPwdSuffixTemplate">
                        <input
                            id="oldPassword"
                            [type]="oldPwdVisible ? 'text' : 'password'"
                            nz-input
                            autocomplete="off"
                            formControlName="oldPassword"
                        />
                    </nz-input-group>
                    <ng-template #oldPwdSuffixTemplate>
                        <span
                            nz-icon
                            [nzType]="oldPwdVisible ? 'eye-invisible' : 'eye'"
                            (click)="oldPwdVisible = !oldPwdVisible"
                        ></span>
                    </ng-template>
                    <ng-template #oldPwdErrTpl>
                        @if (oldPasswordFormControl.dirty && oldPasswordFormControl.errors?.['required']) {
                            请填写旧密码
                        }
                        @if (oldPasswordFormControl.errors?.['msg']) {
                            {{ oldPasswordFormControl.errors?.['msg'] }}
                        }
                    </ng-template>
                </nz-form-control>
            </nz-form-item>

            <!-- 新密码 -->
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="newPassword">新密码</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback [nzErrorTip]="newPwdErrTpl">
                    <nz-input-group [nzSuffix]="newPwdSuffixTemplate">
                        <input
                            id="newPassword"
                            [type]="newPwdVisible ? 'text' : 'password'"
                            nz-input
                            autocomplete="off"
                            formControlName="newPassword"
                        />
                    </nz-input-group>
                    <ng-template #newPwdSuffixTemplate>
                        <span
                            nz-icon
                            [nzType]="newPwdVisible ? 'eye-invisible' : 'eye'"
                            (click)="newPwdVisible = !newPwdVisible"
                        ></span>
                    </ng-template>
                    <ng-template #newPwdErrTpl>
                        @if (newPasswordFormControl.dirty && newPasswordFormControl.errors?.['required']) {
                            请填写新密码
                        }
                        @if (newPasswordFormControl.errors?.['msg']) {
                            {{ newPasswordFormControl.errors?.['msg'] }}
                        }
                    </ng-template>
                </nz-form-control>
            </nz-form-item>

            <!-- 确认密码 -->
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="confirmPassword">确认密码</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback [nzErrorTip]="confirmPwdErrTpl">
                    <nz-input-group [nzSuffix]="confirmPwdSuffixTemplate">
                        <input
                            id="confirmPassword"
                            [type]="confirmPwdVisible ? 'text' : 'password'"
                            nz-input
                            autocomplete="off"
                            formControlName="confirmPassword"
                        />
                    </nz-input-group>
                    <ng-template #confirmPwdSuffixTemplate>
                        <span
                            nz-icon
                            [nzType]="confirmPwdVisible ? 'eye-invisible' : 'eye'"
                            (click)="confirmPwdVisible = !confirmPwdVisible"
                        ></span>
                    </ng-template>
                    <ng-template #confirmPwdErrTpl>
                        @if (confirmPasswordFormControl.dirty && confirmPasswordFormControl.errors?.['required']) {
                            请填写确认密码
                        }
                        @if (confirmPasswordFormControl.errors?.['msg']) {
                            {{ confirmPasswordFormControl.errors?.['msg'] }}
                        }
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-container>
</nz-modal>
