<nz-modal [(nzVisible)]="formDialogDisplay"
          [nzKeyboard]="false"
          [nzTitle]="'重置密码'"
          [nzMask]="true"
          [nzMaskClosable]="false"
          (nzOnCancel)="closeDialog()"
          [nzCancelDisabled]="isSubmitting"
          [nzClosable]="!isSubmitting"
          [nzFooter]="modalFooter"
>
    <ng-container *nzModalContent>

        <form nz-form [formGroup]="resetPasswordForm" novalidate>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="username_readonly">用户名</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" >
                    <input id="username_readonly" type="text" nz-input autocomplete="off" formControlName="username" readonly nzSize="small" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="password">密码</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzValidatingTip="验证中..." [nzErrorTip]="passwordErrorTpl">
                    <nz-input-password>
                        <input id="password" nz-input placeholder="请输入新密码" formControlName="password" nzSize="small"/>
                    </nz-input-password>

                    <ng-template #passwordErrorTpl>
                        @if (password.dirty && password.errors?.['required']) {
                            请输入新密码
                        }
                        @if (password.errors?.['minlength']) {
                            密码长度不能小于 6 个字符
                        }
                        @if (password.errors?.['msg']) {
                            {{password.errors?.['msg']}}
                        }
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-container>

    <ng-template #modalFooter>
        <button nz-button nzType="default" nzSize="small" (click)="closeDialog()">
            <nz-icon nzType="close" />
            取消
        </button>
        <button nz-button nzType="primary" nzSize="small" (click)="onConfirmClick()" [nzLoading]="isSubmitting">
            <!-- 当处于 nzLoading 时，NG-ZORRO 会自动隐藏此图标，用 Spinner 替代 -->
            <nz-icon nzType="check" />
            确定
        </button>
    </ng-template>
</nz-modal>
