<nz-modal [(nzVisible)]="formDialogDisplay"
          [nzKeyboard]="false"
          [nzTitle]="'重置密码'"
          [nzMask]="true"
          [nzMaskClosable]="false"
          (nzOnCancel)="closeDialog()"
          (nzOnOk)="onConfirmClick()"
          [nzOkLoading]="isOkLoading"
          [nzCancelDisabled]="isOkLoading"
          [nzClosable]="!isOkLoading"
>
    <ng-container *nzModalContent>

        <form nz-form [formGroup]="resetPasswordForm" novalidate>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="username_readonly">用户名</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" >
                    <input id="username_readonly" type="text" nz-input autocomplete="off" formControlName="username" readonly />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="password">密码</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback nzValidatingTip="验证中..." [nzErrorTip]="passwordErrorTpl">
                    <nz-input-group [nzSuffix]="passwordSuffixTemplate">
                        <input
                            id="password"
                            [type]="passwordVisible ? 'text' : 'password'"
                            nz-input
                            autocomplete="new-password"
                            formControlName="password"
                        />
                    </nz-input-group>
                    <ng-template #passwordSuffixTemplate>
                        <span
                            nz-icon
                            [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                            (click)="passwordVisible = !passwordVisible"
                        ></span>
                    </ng-template>

                    <ng-template #passwordErrorTpl>
                        @if (password.dirty && password.errors?.['required']) {
                            请填写密码
                        }
                        @if (password.errors?.['msg']) {
                            {{password.errors?.['msg']}}
                        }
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-container>
</nz-modal>
