<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoyx.hauyne.audit.mapper.UserSnapshotMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.luoyx.hauyne.audit.entity.UserSnapshot">
        <result column="id" property="id"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="last_updated_by" property="lastUpdatedBy"/>
        <result column="last_updated_time" property="lastUpdatedTime"/>
        <result column="real_name" property="realName"/>
        <result column="nickname" property="nickname"/>
        <result column="avatar" property="avatar"/>
    </resultMap>

</mapper>
