<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoyx.hauyne.admin.sys.mapper.UserRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.luoyx.hauyne.admin.sys.entity.UserRole">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="role_id" property="roleId" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <select id="countUserRoleByRoleIds" parameterType="long" resultType="string">
        SELECT
            r.role_name
        FROM
            hyn_sys_role r
            LEFT JOIN hyn_sys_user_role ur ON ur.role_id = r.id
        where r.id IN
            <foreach collection="roleIds" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        GROUP BY
            r.role_name
        having count(ur.user_id) > 0 limit 1
    </select>

    <!-- 查询用户的角色id集合 -->
    <select id="selectRoleIdsByUserId" parameterType="Long" resultType="Long">
        select role_id from hyn_sys_user_role where user_id = #{userId}
    </select>
</mapper>
